body {
   /* margin: 0px;*/
    box-sizing: border-box;
    width: 1302px;
    height: 893px;

    background-color: #2f2f2f;
  
    color: #e5e5e5;
}


.wrapper {
    margin: 0px;
    padding-left: 50px;
    padding-top: 120px;

    width: 70%;

    /*color: #e5e5e5;*/
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


table {
    display: table;
    margin-right: 0px;

    width: 70%;

    border-spacing: 0px;
    border: 1px solid #6d6d6d;
    border-radius: 4px;
    border-bottom: thin solid;
    /*color: #e5e5e5;*/
    border-bottom: 1px solid #6d6d6d;
    box-sizing: border-box;
}

.t1 {
    margin-bottom:  40px;
    
   
}
.left {
    padding-left: 12px;
}

.t2  {
    margin-bottom:  40px;
}
 

/*.border {

    border: 1px solid #6d6d6d;
    border-radius: 4px;
    box-sizing: border-box;
   
}*/

.sort {
    width: 12px;
    height: 12px;
    padding-left: 6px;
}

.file {
    width: 22px;
    height: 16px;

    padding-left: 12px;
    padding-right: 10px;
}

tr { 

    display: flex;
    align-items: center;
    text-align: left;

    height: 40px;
   /*color: #6d6d6d;*/ 
    /*color: #e5e5e5;*/

    border-bottom: thin solid;
    border-bottom: 1px solid #6d6d6d;
}

tr:last-child {
    border-width: 0;
}


th {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    text-align: left;
  
    height: 40px;

    border-bottom: thin solid;
    border-bottom: 1px solid #6d6d6d;
}

th:first-child:not(.t2-head) {
    padding-left: 12px;
}

 

td {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    width: 60%;
    color: #e5e5e5;
   
    box-sizing: border-box;
}

input {

    margin: 12px;
}

.search__field {

    margin: 2px;
    padding: 8px;
    padding-left: 40px;


    width: 100%;
    height: 32px;
   
    background-color: #4b4a4a;
    color:#c3c3c3;
   
    box-sizing: border-box;

    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 10px;

    background-image: url(magnifying-glass\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: top 8px left 12px;
}

.search__field::placeholder {
    /*color: #c3c3c3;*/
    color: #c4c4c4;
}

  
.more {

    height: 12px;
    width: 12px;
}

.last-column {

    display: flex;
    justify-content: end;

    padding-right: 12px;
}

.big-column {
    width: 344px;
}
   
.small-column {
    width: 172px;
}

.white-font {
    color: white;
}

.grey-font {
    color:  #6d6d6d;
}

.t2-head {
    box-sizing: border-box;
    padding: 0;
}