body {
    margin: 0;
}
.container {
    display: flex;
    width: 1120px;
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
}
.header {


}

.main-logo {
    width: 50px;
    height: 50px;

    background-image: url('./images/Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.nav__items {
    display: flex;
    list-style: none;
    gap: 40px;
}