body {
    background-color: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.nav {
    font-family: Inter;
    text-align: left;
    padding: 24px;
}

.title {
    font-family: Inter;
    font-size: 110px;
    text-align: left;

}

.hw {
    font-family: Inter;
    font-size: 40px;
    text-align: left;
}

.owner {
    font-family: Inter;
    font-size: 40px;
    text-align: left;
    color: rgba(11, 34, 57, 1);
}

#link {
    color: rgba(11, 34, 57, 1);
}

.text {
    font-family: Inter;
    color: rgba(11, 34, 57, 1);
    text-align: left;
    padding: 24px;
}


.banner {
    position: absolute;
    font-family: Inter;
    height: 1430px;
    width: 1488px;
}

.block1 {
    position: absolute;
    margin: 228px 24px 1130px 24px;
    height: 72px;
    width: 1440px;
    background-color: rgba(11, 34, 57, 1);
    box-sizing: border-box;
}

.text1 {
    position: relative;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    text-align: left;
    height: 40px;
    width: 922px;
    border-radius: nullpx;
    margin: 16px 398px 16px 120px;
    display: flex;
    align-items: center;
}

#link1 {
    position: absolute;
    right: 270px;
    bottom: 24px;
    color: rgba(74, 210, 149, 1);
    font-size: 12px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.button1 {
    position: absolute;
    right: 120px;
    bottom: 14px;
    background-color: rgba(74, 210, 149, 1);
    font-size: 12px;
    height: 36px;
    width: 130px;
    border-radius: 2px;
    color: rgba(255, 255, 255, 1);
}

.block2 {
    position: absolute;
    margin: 324px 24px 1054px 24px;
    border-radius: 0px;
    background-color: rgba(43, 38, 39, 1);
    height: 52px;
    width: 1440px;
    border-radius: 0px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.img2_1 {
    position: absolute;
    left: 345.5px;
    height: 16px;
    width: 16px;
}

.text2 {
    position: absolute;
    left: 369.5px;
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2_2 {
    position: absolute;
    right: 345.5px;
    height: 16px;
    width: 16px
}

#link2 {
    color: rgba(255, 255, 255, 1);
}

.block3 {
    position: absolute;
    margin: 448px 904px 910px 24px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 1);
    height: 72px;
    width: 560px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.button3_0 {
    position: absolute;
    height: 36px;
    width: 36.00000762939453px;
    left: 16px;
    top: 18px;
    border-radius: 10px;
    padding: 8px;
    background: rgba(234, 76, 137, 0.1);
    border: none;

}

#link3 {
    color: rgba(234, 76, 137, 1);
}

.img3_1 {
   position: absolute;
    top: 26px;
    left: 24px;
    border: none;
    height: 20px;
    width: 20.0000057220459px;
    border-radius: 10px;
    
}

.text3 {
    position: absolute;
    top: 22px;
    left: 62px;
    color: black;
    font-size: 13px;
    height: 40px;
    width: 347px;
}

.button3_1 {
    position: absolute;
    top: 22px;
    background-color: rgba(13, 12, 34, 0.05);
    font-size: 12px;
    height: 28px;
    width: 63px;
    left: 419px;
    border-radius: 8px;
    padding: 4px, 10px, 4px, 10px;
    border: none;

}

.button3_2 {
    position: absolute;
    background: rgba(234, 76, 137, 1);
    height: 28px;
    width: 52px;
    left: 492px;
    top: 22px;
    border-radius: 8px;
    font-size: 12px;
    border: none;
    color: rgba(255, 255, 255, 1);

}

.block4 {
    position: absolute;
    margin: 544px 904px 822px 24px;
    background-color: rgba(38, 38, 43, 1);
    height: 64px;
    width: 560px;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
}

.text4 {
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    height: 40px;
    width: 469px;
    border-radius: nullpx;
}

.button4_1 {
    position: absolute;
    right: 16px;
    background-color: rgba(255, 255, 255, 1);
    height: 28px;
    width: 49px;
    border-radius: 8px;
    border: none;
    color: black;
    font-size: 12px;

}

.block5 {
    position: absolute;
    margin: 680px 1104px 544px 24px;
    background-color: rgba(28, 37, 64, 0.95);
    padding: 24px;
    box-sizing: border-box;
    height: 206px;
    width: 360px;
    border-radius: 6px;

}

.text5 {
    font-size: 14px;
    height: 20px;
    width: 121px;
    border-radius: nullpx;
    color: rgba(255, 255, 255, 1);
}

#link5 {
    color: rgba(255, 255, 255, 1);
}

.button5_1 {
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-size: 12px;
    background-color: rgba(9, 179, 175, 1);
    color: rgba(255, 255, 255, 1);
    height: 32px;
    width: 85px;
    border-radius: 6px;
    border: none;
    padding: 8px, 20px, 8px, 20px;

}

.img5_1 {
    position: absolute;
    height: 20px;
    width: 121px;
    left: 24px;
    top: 24px;
    border-radius: nullpx;
}

.block6 {
    position: absolute;
    right: 424px;
    margin: 680px 704px 580px 24px;
    background-color: rgba(255, 255, 255, 1);
    height: 170px;
    width: 360px;
    left: 424px;
    padding: 16px;
    border-radius: 16px;
    box-sizing: border-box;
}

.text6 {
    font-size: 14px;
    height: 20px;
    width: 121px;
    border-radius: nullpx;
    color: black;
    left: 16px;
    right: 16px;
}

.button6_1 {
    position: absolute;
    left: 16px;
    bottom: 16px;
    font-size: 14px;
    background: rgba(234, 240, 244, 1);
    color: rgba(104, 127, 140, 1);
    height: 32px;
    width: 160px;
    border-radius: 6px;
    border: none;
}

.button6_2 {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    background-color: rgba(9, 179, 175, 1);
    height: 32px;
    width: 160px;
    border-radius: 6px;
    border: none;
    color: rgba(255, 255, 255, 1);

}

.img6_1 {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 20px;
    width: 121px;
    border-radius: nullpx;
}

.block5_6 {

    display: inline-block;
    position: absolute;
}


.block7 {
    position: absolute;
    margin: 958px 1144px 212px 24px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    text-align: center;
    font-size: 16px;
    height: 260px;
    width: 320px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    padding: 32px;
    box-sizing: border-box;
}

.text7 {
    font-family: Inter;
    font-size: 16px;
    height: 20px;
    width: 121px;
    border-radius: nullpx;
    color: black;
    left: 24px;
    text-align: center;
}

#h7 {
    font-size: 28px;

}

.button7_1 {

    bottom: 32px;
    font-size: 16px;
    background-color: rgba(74, 126, 255, 1);
    height: 44px;
    width: 121px;
    border-radius: 43px;
    border: none;
    color: rgba(255, 255, 255, 1);


}

.block8 {
    position: absolute;
    margin: 958px 784px 335px 384px;
    background-color: rgba(255, 255, 255, 1);
    height: 137px;
    width: 320px;
    border-radius: 4px;
    padding: 16px;
    box-sizing: border-box;
}

.text8 {
    font-size: 14px;
    height: 20px;
    width: 121px;
    border-radius: nullpx;
    color: black;

}

.button8_1 {
    position: absolute;
    left: 16px;
    bottom: 24px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(102, 102, 255, 1);
    height: 17px;
    width: 95px;
    border-radius: nullpx;
    border: none;
    box-sizing: border-box;
}

.button8_2 {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    background-color: rgba(102, 102, 255, 1);
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    height: 33px;
    width: 64px;
    left: 224px;
    border-radius: 4px;
    border: none;
}

.block7_8 {
    display: inline-block;
    position: absolute;
}